<header class="header-area sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-sm-6 col-lg-3">
                <div class="header-logo">
                    <a routerLink="/">
                        <img class="logo-main" src="assets/images/logo.webp" width="95" height="68" alt="Logo" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="header-navigation">
                    <ul class="main-nav justify-content-start">
                        <li class="has-submenu"><a routerLink="/">Home</a></li>
                        <li><a routerLink="/about">About</a></li>
                        <li class="has-submenu"><a routerLink="/blog">Blog</a>
                        </li>
                        <li class="has-submenu"><a routerLink="/wishlist">Wishlist</a>
                        </li>
                        <li><a routerLink="/contact">Contact</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-7 col-sm-6 col-lg-3">
                <div class="header-action justify-content-end">
                    <button class="header-action-btn ms-0" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch">
                        <span class="icon">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <rect class="icon-rect" width="30" height="30" fill="url(#pattern1)" />
                                <defs>
                                    <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
                                        <use xlink:href="#image0_504:11" transform="scale(0.0333333)" />
                                    </pattern>
                                    <image id="image0_504:11" width="30" height="30"
                                        xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABiUlEQVRIie2Wu04CQRSGP0G2EUtIbHwA8B3EQisLIcorEInx8hbEZ9DKy6toDI1oAgalNFpDoYWuxZzJjoTbmSXERP7kZDbZ859vdmb27MJcf0gBUAaugRbQk2gBV3IvmDa0BLwA4Zh4BorTACaAU6fwPXAI5IAliTxwBDScvJp4vWWhH0BlTLEEsC+5Fu6lkgNdV/gKDnxHCw2I9rSiNQNV8baBlMZYJtpTn71KAg9SY3dUYn9xezLPgG8P8BdwLteq5X7CzDbnAbXKS42WxtQVUzoGeFlqdEclxXrnhmhhkqR+8KuMqzHA1vumAddl3IwB3pLxVmOyr1NjwKQmURJ4lBp7GmOAafghpg1qdSDeDrCoNReJWmZB4dsAPsW7rYVa1Rx4FbOEw5TEPKmFvgMZX3DCgYeYNniMaQ5piTXghGhPLdTmZ33hYNpem98f/UHRwSxvhqhXx4anMA3/EmhiOlJPJnSBOb3uQcpOE65VhujPpAms/Bu4u+x3swRbeB24mTV4LgB+AFuLedkPkcmmAAAAAElFTkSuQmCC" />
                                </defs>
                            </svg>
                        </span>
                    </button>

                    <button class="header-action-btn" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#AsideOffcanvasCart" aria-controls="AsideOffcanvasCart">
                        
                    </button>
                    <a routerLink="/product-cart"><i class="fa-solid fa-cart-arrow-down"></i></a>

                   <div>
                    <div class="dropdown header-action-btn" >
                        <button style="border: none; background-color: #fff;width:30; height:30"
                            data-bs-toggle="dropdown">
                            <i class="fa-solid fa-user" width="30" height="30"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" *ngIf="!account">
                            <li><a class="dropdown-item " routerLink="/account-login">login</a></li>
                            <li><a class="dropdown-item" routerLink="/account-register">register</a></li>

                        </ul>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" *ngIf="account">
                            <li><a class="dropdown-item disabled">{{account.name}}</a></li>
                            <li><a class="dropdown-item" routerLink="/my-account">My Account</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                     
                   </div>



                    <button class="header-menu-btn" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>