<%- include('../header') %>

    <div class="comtainer" style="position: absolute; z-index: -1; display: inline-block;width: 1200px; margin-left: 35px;">

        <div class="jumbotron">
            <div class="container">
                <h1>Lỗi rồi!</h1>
                <p>Thông báo lỗi: <%= message %>
                </p>
                <p>
                    <a href="/category" class="btn btn-primary btn-lg">quay lại</a>
                </p>
            </div>
        </div>


    </div>
    <%- include('../footer') %>