<div class="table-responsive"
    style="position: absolute; z-index: -1; display: inline-block;width: 1100px; margin-left: 35px; width: 75%; ">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="/create-account" class="btn btn-primary">thêm mới tài khoản quản trị</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="/view-account" class="btn btn-primary">xem các tài khoản quản trị</a>
            </div>


        </div>
    </div>
</div>